<form action="/user/set-new-password" method="post">
    <label for="password">Password :</label>
    <input type="text" name="password" id="password">
    <label for="confirm-password">Confirm Password :</label>
    <input type="text" name="confirm_password" id="confirm-password">
    <button type="submit">submit</button>
</form>