<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <a href="/user/sign-up">sign up</a>
    <a href="/user/sign-in">sign in</a>
    
</body>
</html>