<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <% if(locals.user) {%>
    <p><a href="/user/sign-out">Sign-out</a></p>
    <%}else{%>
    <p><a href="/user/sign-in">Sign-in</a></p>
    <p><a href="/user/sign-up">Sign-up</a></p>
    <%}%>
    <p><%=user.email%></p>
    <p><%=user.name%></p>
</body>

</html>